<div class="admin_navigation">

    <div class="brand_box">
        <img src="/images/brand.png" alt="" height="100">
    </div>
    <div class="navigation_list">
        <h3>MENU</h3>
        <ul >
            <li><a href="/admin-home">Home</a></li>
            <li><a href="/admin-create">Add New</a></li>
            <li> <a href="/admin-update">Update Existing</a></li>
        </ul>
    </div>

    <div class="text-center">
    <a class="nav_logout" href="/logout"><img src="/images/exit.png" alt=""></a>
    </div>
    

</div>