<%-  include('./header.ejs'); %>

<div class="admin_home">

<div class="navigation_area">
        <%-  include('./admin_navigation.ejs'); %> 
</div>

<div class="cards_data_area">
        
        <%-  include('./card.ejs'); %>          
</div>

</div>

<%- include('./footer.ejs'); %>