<%-  include('./header.ejs'); %>

<div class="admin_home">

        <div class="navigation_area">
                <%-  include('./admin_navigation.ejs'); %> 
        </div>
        
        <div class="add_Form">
                <%-  include('./update_card.ejs'); %>          
        </div>
        
</div>

<%- include('./footer.ejs'); %>
