<!DOCTYPE html>
<html>
  <head>
    <title>Tourist Guide | Web Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/brand.png"type="image/x-icon">
  </head>
  <body>
    